.main {
	background: #000 url("../assets/app-bg.png") center center;
	/*background: #222;*/
	background-size: cover;
	color: #a5a5a5;
	font-size: 16px;

	/* For preview use */
	/*height: 480px;
	width: 320px;*/
}

.panel-container {
	height: 100%;
	width: 100%;
	min-width: 320px;
	margin-right: 40px;
}

.panel-container.menu {
	width: 250px;
	min-width: 250px;
	margin-right: 10px;
}
.panel-container.last {
	width: 100%;
	margin-right: 5px;
}

/*.panel-container.last {
	max-width: 100%;
}*/

.panel-content {
	padding: 0 10px;
}

.label-units {
	font-size: 12px;
	text-transform: uppercase;
}

/* Tap Scroller */

/*.tap-scroller {
	position: absolute;
	top: 70px;
	left: 0;
	z-index: 100;
	height: 218px;
	width: 100%;
}

.tap-scroller .up {
	background: rgba(255,0,0,.2);
	height: 50%;
	width: 100%;
}

.tap-scroller .down {
	background: rgba(0,0,255,.2);
	height: 50%;
	width: 100%;
}*/

/* Help */

.help-box {
	font-size: 15px;
	padding: 5px 5px 5px 5px;
	background: #3a3a3a url("../assets/button-x.png") 99% 5px no-repeat;
	background-size: 15px;
	border-radius: 5px;
	display: none;
}
.help-box .title {
	color: #fff;
	margin-bottom: 3px;
}

/* App header */

.header {
	padding-top: 5px;
}
.header .icon {
	height: 64px;
	width: 64px;
	margin-right: 10px;
	/*background:	url("../assets/icons/optIconsWhite/icon64/cloudy.png") center center no-repeat;*/
	background:	url("../assets/cloudy.png") center center no-repeat;
	background-size: contain;
}
.header .temp {
	font-size: 48px;
	margin-right: 10px;
	padding-top: 3px;
	color: #fff;
}

.header .status-box {
	padding: 10px 10px 0 0;
	font-size: 16px;
	text-align: right;
}
.header .status-box .line1,
.header .status-box .line2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.header .status-box .line1 {
	margin-bottom: 5px;
}

/* Tab bar */

.tab-bar {
	color: #fff;
	height: 32px;
}
.tab-bar .tab {
	width: 33%;
	text-align: center;
	padding-top: 5px;
}

.white-bar {
    margin-top: 3px;
    width: 33.4%;
    height: 1px;
    background: white;
    -webkit-transition: margin-left .15s;
    transition: margin-left .15s;
}

/* Menu tab */

.settings-row {
	width: 230px;
	/*background: #300;*/
	padding: 10px 0;
	border-bottom: 1px solid rgba(100,100,100,.35);
}
.settings-row .label {
	font-size: 16px;
	padding: 7px 0;
	/*background: #600;*/
}

/*.onyx-picker-decorator .onyx-button {
	padding: 0px;
}*/

.custom-picker {
	width: 100px;
	color: #fff;
	font-size: 16px;
	text-align: right;
	margin: 0;
	padding: 7px 15px 7px 15px !important;
	
	background: url("../assets/picker-arrow.png") bottom right no-repeat;
	background-size: 10px;
	box-shadow: none;

	/*border-bottom: 1px solid #666;*/
	border-radius: 2px;
	border: none !important;
}

.settings-button {
	width: 230px;
	margin: 10px 0;
}

/* Currently tab */

.alert {
	background: #800;
	color: #ccc;
	padding: 5px;
	width: 100%;
	margin-bottom: 3px;
}

.c-title {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 1px;
}

.c-desc {
	font-size: 16px;
	margin-bottom: 20px;
}

.system-warning {
	color: #f55;
	margin: 10px 0;
}

.currently-col {
	width: 50%;
}

.currently-element {
	margin: 12px 0 12px 0;
}
.currently-element.left {
	text-align: left;
}
.currently-element.right {
	text-align: right;
}

.currently-element .icon {
	background-image: url("../assets/icons/optIconsWhite/icon24/cloudy.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 24px;
	width: 24px;
}
.currently-element .desc {
	font-size: 16px;
	padding-top: 2px;
	margin: 0 5px 0 5px;
}

.powered-by {
	width: 100%;
	text-align: center;
	padding: 10px 0 20px 0;
}

/* Hourly tab */

.hour-box {
	font-size: 16px;
	padding: 10px 0;
	border-bottom: 1px solid rgba(100,100,100,.35);
}
.hour-box .hour {
	color: #fff;
	/*background: #300;*/
}
.hour-box .icon {
	height: 38px;
	width: 38px;
	/*background-color: #400;*/
	background-image: url("../assets/icons/optIconsWhite/icon64/partly-cloudy-day.png");
	margin-right: 10px;
	background-size: contain;
}
.hour-box .detail-box2 {
	width: 65px;
	/*background: #400;*/
}
.hour-box .forecast {
	/*background: #300;*/
}
.hour-box .precip {
	text-align: right;
	padding-right: 24px;
	background-image: url("../assets/icons/optIconsWhite/icon24/rain.png");
	background-position: right center;
	background-repeat: no-repeat;
	background-size: contain;
}
.hour-box .cloud {
	text-align: right;
	padding-right: 24px;
	background-image: url("../assets/icons/optIconsWhite/icon24/cloudy.png");
	background-position: right center;
	background-repeat: no-repeat;
	background-size: contain;
}

/* Daily tab */

.day-box {
	font-size: 16px;
	padding: 10px 0;
	border-bottom: 1px solid rgba(100,100,100,.35);
}
.day-box .icon {
	height: 38px;
	width: 38px;
	/*background-color: #400;*/
	background-image: url("../assets/icons/optIconsWhite/icon32/partly-cloudy-day.png");
	background-size: contain;
}
.day-box .high,
.day-box .low {
	width: 35px;
	text-align: right;
	margin: 0 10px 0 5px;
	/*background: #400;*/
}
.day-box .high {
	color: #faa;
}
.day-box .low {
	color: #aaf;
}
.day-box .date {
	color: #fff;
}